<!doctype html>
<html lang="en">
  <head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Blog - Portfolio Project</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  </head>

  <body>

    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{% url 'home' %}">Robert Mwanzia</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav ml-auto">
      <a class="nav-item nav-link" href="{% url 'home' %}">Home</a>
      <a class="nav-item nav-link" href="#">Twitter</a>
      <a class="nav-item nav-link" href="{% static 'resume.pdf' %}">Resume</a>
      <a class="nav-item nav-link active" href="{% url 'allblogs' %}">Blog</a>
    </div>
  </div>
</nav>
    </header>

    <main role="main">

      <section class="jumbotron text-center pt-4 pb-4">
        <div class="container">
          <h1 class="jumbotron-heading">{{ blog.title }}</h1>
        </div>
      </section>

<div class="album py-5 bg-light" style="margin-left: 60px; margin-right: 60px">
        <div class="container">
                <img class="card-img-top img-fluid" style="width: 840px; height: auto;" src="{{ blog.image.url }}" />
                <div class="card-body">
                  <div>
                  <h1 class="card-text">{{ blog.title }}</h1>
                  </div>
                  <p class="card-text">{{ blog.pubdate }}</p>
                  <p class="card-text" style="width: 840px; height: auto; text-align: justify;">{{ blog.body }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
